/*
cozar14.css
2014
*/
@font-face{ 
	font-family: 'edmondbold';
	src: url('../fonts/edmondbold.eot');
	src: url('../fonts/edmondbold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/edmondbold.woff') format('woff'),
	     url('../fonts/edmondbold.ttf') format('truetype'),
	     url('../fonts/edmondbold.svg#webfont') format('svg');
}
body{
	font-family: 'edmondbold', Arial, sans-serif;
	color: #000;
	text-rendering: optimizeLegibility;
}
a, input#submit{
	color: #000;
	border-bottom: 3px solid #000;
	background-color: transparent!important;
}
a:hover, a:focus{
	color: #1e0fbe;
	text-decoration: none!important;
	border-bottom-color: #1e0fbe;
}
.img-responsive{
	margin: 0 auto;
}
#nombre{
	position: absolute;
	top: 23%;
	left: 10px;
	z-index: 9;
}
#nombre h2{
	font-size: 50px;
	line-height: 50px;
}
#nombre span:before{
	content: " ";
	background: #000;
	width: 50px;
	height: 5px;
	margin-right: 10px;
	margin-bottom: 17px;
	display: inline-block;
}
h1.tag{
	font-size: 15px;
	margin: 40px 0 20px;
}
.tag a{
	background: url('../images/logo_cozar.png') 0 0 no-repeat scroll;
	width: 114px;
	height: 60px;
	margin-right: 15px;
	top: -20px;
	text-indent: -9999px;
	text-decoration: none;
	border: none;
	position: relative;
	display: inline-block;
}
nav{
	margin: 40px 0;
	text-align: right;
}
nav a,
#submit.active{
	color: #000;
	font-size: 16px;
	display: inline-block;
	margin-left: 25px;
}
nav a:hover,
#submit.active:hover,
.list-pro a:hover,
nav a.active,
.list-pro a.active,
.stButton .chicklets:hover,
a.active{
	color: #1e0fbe;
	border-bottom: 3px solid #1e0fbe;
	text-decoration: none;
	opacity:1!important;
}
#foto{
	background-size:cover;
	background-position: center center;
	height: 600px;
}
.nombre-pro-home{
	width: 300px;
	position: absolute;
	right: 10px;
	bottom: 10%;
	text-align: right;
}
.nombre-pro-home a{
}
.arrow-down{
	margin: -40px auto 0;
	display: block;
}
.home-all-pro{
	text-align: center;
}
div.h-copy h3{
	line-height: 40px;
	text-align: center;
}
/*
HOME PROJECTS
*/
#home-pro{
	margin: 50px 0;
}
div.titulo-sobre{
	color: #fff;
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 9;
}
div.titulo-sobre a{
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 50px;
	line-height: 40px;
	text-decoration: none;
	display: block;
	-ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
div.titulo-sobre a:hover{
	border: none;
}
div.titulo-sobre a span{
	font-size: 15px;
	line-height: 15px;
	display: block;
}
p.minis-pro{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 99;
}
p.minis-pro a{
	border: none;
	font-family: 'edmondbold', Arial, sans-serif;
}
a.minis-pro{
	background-size:cover;
	background-position: center center;
	height: 200px;
	display: block;
	border: none;
}
/*
Proyectos
*/
.proyectos{
	margin-bottom: 100px;
}
.proyectos p{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	margin: 10px 0;
}
ul,
.list-pro{
	padding: 0;
	margin-top: 20px;
	list-style: none;
}
.list-pro li{
	margin-bottom: 5px;
}
.list-pro .aviso{
	margin-top: 20px;
}
.list-pro a{
	border: none;
}
ul strong{
	color: #777;
}
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; } 
.video-container iframe, 
.video-container object, 
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#related{
	margin-top: 100px;
}
.shares{
	margin: 30px 0;
}
.stButton .chicklets{
	background-image: none!important;
	padding-left: 0!important;
	padding-right: 0!important;
	margin-right: 10px;
	font-family: 'edmondbold', Arial, sans-serif!important;
	font-size: 14px!important;
	border-bottom: 3px solid #000;
	display: inline!important;
}
.stButton img{
	display: none!important;
}
#btn-cat{
	margin-top: 50px;
}
#btn-cat a{
	background-color: #fff!important;
	border-bottom: none;
	margin-right: 20px;
	padding: 10px;
	display: inline-block;

}
#btn-cat a.active,
#btn-cat a:hover{
	color: #fff;
	background-color: #000!important;
}
/*
About
*/
 .mar-aba{
 	margin-bottom: 50px;
 }
  .mar-arr{
 	margin-top: 50px;
 }
.barra{
	background: #e9e9ec;
	width: 100%;
	height: 20px;
	position: relative;
}
.barra .skills-uno{
	background: #d4d4d4;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.barra .skills-dos{
	background: #d4d4d4;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.barra h5{
	position: absolute;
	right: 5px;
	line-height: 20px;
	top: 0;
	margin: 0;
}
.b-about li{
	line-height: 1.4em;
 	margin-bottom: .5em;

}
.social a{
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
.como-trabajo{
	margin-top: 4em;
}

.como-trabajo h2{
	margin-top: 2em;
	margin-bottom: 1em;
}
.como-trabajo p{
	font-size: 1.2em;
}
.como-trabajo form{
	margin-top: 50px;
}
/*
Contacto
*/
form#forma{
}
form#forma input,
form#forma textarea{
	color: #000;
	padding-left: 0;
	padding-right: 0;
	border: none;
	outline: 0;
	box-shadow: none;
	border-bottom: 1px solid black;
	border-radius: 0;
	margin-bottom: 10px;
}
form#forma textarea{
	resize: vertical;
}
form#forma label{
	font-size: 15px;
}
p.mensaje-error{
	color: #1e0fbe;
}
dt label{
	display: none;
}
form#forma #human{
	width: 100%;
}
input#submit{
	border-bottom: 3px solid #000!important;
}
input#submit:hover{
	border-bottom: 3px solid #1e0fbe!important;
}
/*
FOOTER
*/
footer{
	margin: 100px 0 0;
	padding-bottom: 30px;
	font-size: 12px;
	text-align: right;
	clear: both;
}
footer p,
footer a{
	color: #777;
}
footer p{
	margin-bottom: 15px;
}
footer a{
	border-bottom: 2px solid #777;
}
footer p.icon-social a{
	margin-right: 5px;
	margin-left: 5px;
	font-size: 16px;
	text-decoration: none;
	border: none;
}
center{
	display: none;
}

#at-cv-lightbox a{
	border-bottom: none!important;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) { 
	
	nav{
		text-align: center;
	}
	nav a{
		margin: 0 20px 18px;
		display: inline-block;
		font-size: 1em;
	}
	div.h-copy h3{
		font-size: 1.2em;
		line-height: 1.7em;
		margin-bottom: 2em;
	}
	.skills{
		margin-bottom: 4em;
	}
	.mar-aba{
		margin-bottom: 25px;
		margin-top: 35px;
	}
	.proyectos{
		margin-bottom: 30px;
	}
	footer{
		margin-bottom: 0;
		text-align: center;
	}
	.ajuste-mov{
		margin-bottom: 70px;
	}
}
@media (max-width: 991px){
	h1.tag{
		font-size: 12px;
		text-align: center;
	}
	h1.tag a{
		background-position: center;
		display: block;
		width: 100%;
	}
}
@media (min-width: 1200px) { 
	.nombre-pro-home{
		/*right: -50px;*/
	}
}

@media (min-width: 992px) { 

}