@font-face {
    font-family: 'DINcond-med';
    src: url('/_/fonts/ff_din_condensed_medium-webfont.eot');
    src: url('/_/fonts/ff_din_condensed_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_/fonts/ff_din_condensed_medium-webfont.woff') format('woff'),
         url('/_/fonts/ff_din_condensed_medium-webfont.ttf') format('truetype'),
         url('/_/fonts/ff_din_condensed_medium-webfont.svg#dincond-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'DINcond-bold';
    src: url('/_/fonts/ff_din_condensed_bold-webfont.eot');
    src: url('/_/fonts/ff_din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_/fonts/ff_din_condensed_bold-webfont.woff') format('woff'),
         url('/_/fonts/ff_din_condensed_bold-webfont.ttf') format('truetype'),
         url('/_/fonts/ff_din_condensed_bold-webfont.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'DINcond-black';
    src: url('/_/fonts/ff_din_condensed_black-webfont.eot');
    src: url('/_/fonts/ff_din_condensed_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_/fonts/ff_din_condensed_black-webfont.woff') format('woff'),
         url('/_/fonts/ff_din_condensed_black-webfont.ttf') format('truetype'),
         url('/_/fonts/ff_din_condensed_black-webfont.svg#dincond-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* FONTS */
.area_info,
.area_section h1,
.timetable_area .area_subtitle,
.xo_food h1 span,
.xo_exclusivep h1 span,
.xo_comfort h1 span,
#xoplus_tweets h1 span,
.twitter_container h1 span  { font-family: 'DINcond-black'; }


.basic_info_formulier input[type='submit'],
.banner_artist_container h1,
.next_area,
h1.area_by_running_order,
.info_content h2,
#options a,
.lineup_areas_btn a,
.xo_food h1,
.xo_food .chef_hover,
.xo_exclusivep h1,
.xo_comfort h1,
#xoplus_tweets h1,
.twitter_container h1 {font-family: 'DINcond-bold'}


.area-line-up,
#newLineUp .artist,
.xo_exlusive_artists
{ font-family: 'DINcond-med'; }


/* DEFAULT */
.news_blok h1 { font-size: 2.8em; margin: 7px 0 20px 10px; line-height: 28px; }

/* HEADER + NAV */
header { border-bottom: 4px solid #afafaf; background: url(/images/elements/bg-2.png) white repeat; }
header nav li a { color: black; }
header nav li a:hover {color: #d60036; }
header nav li.active a {color: #d60036; }
header nav li:first-child {margin: 0;}
header .languages a {border: 1px solid white;}
header .languages .selected_lang {border: 1px solid #b3b3b3;}


/* HOMEBANNER */
.video_banner {min-height: 250px; overflow: hidden; margin-top: 50px; }
.watch_trailer {text-align:center; font-size:4.5em; font-family:'DINcond-bold'; text-transform: uppercase; color: #EEE; padding: 12px 0 0; margin-top: 430px; position: absolute; width: 100%;}
.watch_trailer a {color: #ffffff;line-height: 0.9em; }
.watch_trailer a:hover {color: #D60036;}
.xo_nl {border-bottom: 3px solid #e40d62;}


/* HOME ARTISTS */
.home_artist .artist_thumb {padding: 110px 0 0 7px;}
.home_artist .artist_title {float: inherit; position: relative; display:table-cell; vertical-align:middle; }
.home_artist .artist_hover { margin: -170px 0 0 -7px; }
.home_artist .artist_hover_img {background: none; height: 88px; width: 68px; margin: -170px 0 0 43px;}
.home_artist .artist_title a {color: #333;}


/* ARTIESTENPAGINA */
#lineup_artist h1, #lineup_artist h2, #lineup_lookbook h1, #lineup_thestory h1, #lineup_thestory h2, #lineup_latesttweet h1, .lineup_area h1, .twitter_container h1 { 
font-size: 1.8em; line-height: 24px; text-transform: uppercase; color: black; }


/* BLOK: HAAL JE TICKETS */
a.arrow_green:hover {color: #D60037;}

.twitter_container {margin-top: 40px; margin-bottom: 20px;}
.twitter_container #twitter-widget-0{width:760px; height: 180px; border-radius: 5px;}  
.twitter_container #twitter-widget-1{width:760px; height: 180px; border-radius: 5px;}  


/* XO PLUS */
.banner_xoplus {border-bottom: 3px solid #F4752A}
.banner_blok_f4752a {color: white;}
.xo_exclusivep, .xo_food {margin-bottom: 30px;}

.xo_food h1,
.xo_food .chef_hover,
.xo_exclusivep h1,
.xo_comfort h1,
#xoplus_tweets h1  { line-height: 28px; font-size: 1.8em; text-transform: uppercase; margin: 0; }

.xo_food h1 span,
.xo_exclusivep h1 span,
.xo_comfort h1 span,
#xoplus_tweets h1 span  { margin: 0 0 0 10px; font-size: 2.8em; }

.xoplus_text {padding: 10px;}

.xo_exclusivep h1 {color: #F4752A; margin: 0 0 15px;}
.xo_exclusivep .xo_exlusive_artists { font-size: 1.7em; line-height: 32px; text-transform: uppercase;}
.xo_exclusivep a { color: black;}

.tickets p {font-size: 1.4em;}

/* BLOK: XO FOOD */
 .xo_food {background: #202020; padding: 10px;}
 .xo_food h1 {color: white; margin: 0 0 15px;}
 .xo_food p {color: white;}
 .xo_food .food_chef { float: left;}
 .xo_food .food_chef_1 {height: auto; width: 49%; margin-right: 2%;}
 .xo_food .food_chef_2 {height: auto; width: 49%; }
 .xo_food .chef_hover {background: url(/images/icons/arrow_chefs.png) no-repeat 90% center rgba(65,65,66,0.4); display: block; width: 234px; margin: -90px 0 0; height: 70px; position: absolute; color: white; font-size: 4em; line-height: 34px; padding: 10px; text-transform: uppercase; }

/* BLOK: XO COMFORT */
 .xo_comfort {background: #202020; }
 .xo_comfort h1 {color: white; margin: 0 0 15px;}
 .xo_comfort p, .xo_comfort ul, .xo_comfort h1 {padding: 10px 40px 0 10px;}
 .xo_comfort ul {color: white;}


/* BLOK: XO TWEETS */
 #xoplus_tweets {background: #F4752A; margin: 30px auto 15px; padding: 10px;}
 #xoplus_tweets h1 {color: white;}
 #xoplus_tweets ul {list-style: none;}
 #xoplus_tweets ul li { width: 43%; float: left; line-height: 20px; font-size: 1.4em; margin: 0 15px 0 0;}
 #xoplus_tweets .tweets_container { height: 130px; background: white; overflow-y: hidden; position: relative; }
 #xoplus_tweets .tweets_container ul.tweet_list {  position: absolute; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;      }
 #xoplus_tweets .tweets_container ul.tweet_list li { padding: 10px; height: 130px; display: block;      }
 #xoplus_tweets .tweet_avatar {float: left; display: block; height: 90px; width: 50px;}
 #xoplus_tweets .tweet_user {font-weight: bold;}
 #xoplus_tweets .tweet_text {font-style: italic;}


/* IMAGE EFFECTS */
 .comfort_image_container, .chef_image_container {display: block; overflow: hidden;}
 .comfort_image_container img, .chef_image_container img {-webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out;}
 .comfort_image_container img:hover, .chef_image_container img:hover {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); }


/* BLOK: FOTO'S */
.right_photo .photo_thumb {margin: 0 0 4px;}
.right_photo .photo_thumb img { width: 196px; }
.left_photo img { height: 248px; }
.home_artist .thumb_cont1, .home_artist .thumb_cont2, .home_artist .thumb_cont3, .home_artist .thumb_cont4 { height: 175px; }

.logo_container {width: 193px; height: 53px; }


/* PARALLAX FOOTER */
.banner_footer {display: block; height: 320px; width: 100%; margin: 100px 0 -50px; border-top: 2px solid #e0e0e0; }



/* ---------- */
/* RESPONSIVE */

@media (max-width: 979px) {
	header nav li a {font-size: 2em;}
	header nav li {padding: 5px 10px 0 0;}
}

@media (max-width: 767px) {
	header #logo img { margin: 15px auto; display: block; }
	header #logo_footer img { margin: 15px auto; display: block; }
	header nav li a {font-size: 1.9em;}
	header nav {margin: 0 0 0 15px;}

	 /* NEWS */
	 .news_row .news_content {padding: 10px;}
	 .news_blok .span12 {padding-left: 10px; margin-top: 40px;}
	 .news_blok .readmoreBtn {margin-left: 10px;}
	
	 .banner_artist_container,
	 .news_blok .home_news_social,
	 .news_blok hr {display: none;}
	
	 /* 	 PAGE CONTENT */
	 .page_content {padding: 0 10px 30px;}
	 .logo_container {margin: 40px auto;}
	 .gwst {text-align: center;}
	 
	 
	 /*  Artiesten pagina */
	 .area_info {float: left;}
	 
	 
}

@media (max-width: 480px) {

 .also_fun .arrow_next { margin: 0 0 0 275px; }
 .also_fun img {width: inherit; max-width: 100%;}
 .photo_thumb .more_photos {width: 85px;}

 /* NEWS */
 .news_row .news_content {padding: 10px;}
}
