


* {
font-family: 'rubikregular' !important;
}

header,
.homeheader {
background: #fff !important;
}

header nav ul,
.homeheader nav ul {
margin: 0;
}

header nav li,
.homeheader nav li {
padding: 0 8px; margin: 0;
}

header nav li a,
.homeheader nav li a {
font-size: 19px;
line-height: 70px;
color: #454545;
font-family: 'rubikregular' !important;
}

header #logo.span3,
.homeheader #logo2.span3 {
width: 250px;
margin-left: 50px;
}

header #logo a,
.homeheader #logo2 a {
width: 100%;
height: 100%;
display: block;
overflow: hidden;
background-image: url(../../images/elements/xo_16_wordmark.png);
background-image: linear-gradient(transparent, transparent), url(../../images/elements/xo_16_wordmark.svg);
background-size: 100%;
background-repeat: no-repeat;
background-position: center center;
}

header #logo img,
.homeheader #logo2 img {
opacity: 0;
margin: 7px 0;
}

#home .banner {
height: auto;
background: #e25b5f !important;
}

#home .banner .gridoptions {
background: #e25b5f !important;
}

#home .banner .gridoptions .gridtext h3 {
padding-top: 45px;
}

#home .banner .gridoptions .gridtext {
margin: 0 auto;
padding: 50px 0 20px;
left: auto
}

#home .banner .gridoptions .gridtext h3 {
padding: 0;
}

#home .banner .gridoptions {
bottom: auto;
height: auto;
overflow: hidden;
position: relative;
}

@-moz-keyframes strokenew {
from {
stroke-dashoffset: 1000;
}
to {
stroke-dashoffset: 0;
}
}
@-webkit-keyframes strokenew {
from {
stroke-dashoffset: 1000;
}
to {
stroke-dashoffset: 0;
}
}
@keyframes strokenew {
from {
stroke-dashoffset: 1000;
}
to {
stroke-dashoffset: 0;
}
}

#new-home line {
stroke-dasharray: 0;
stroke-dashoffset: 0;
-moz-animation: strokenew 5s linear alternate infinite;
-webkit-animation: strokenew 5s linear alternate infinite;
animation: strokenew 5s linear alternate infinite;
}

.strokeanim {
stroke-dasharray: 1000;
stroke-dashoffset: 1000;
-moz-animation: strokenew 5s linear alternate infinite;
-webkit-animation: strokenew 5s linear alternate infinite;
animation: strokenew 5s linear alternate infinite;
fill: none;
stroke-linecap: round;
stroke-linejoin: round;
}

sec2 {
-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
animation-delay: 2s;
}

@font-face {
font-family: 'rubikblack';
src: url('rubik-black-webfont.eot');
src: url('rubik-black-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-black-webfont.woff2') format('woff2'),
url('rubik-black-webfont.woff') format('woff'),
url('rubik-black-webfont.ttf') format('truetype'),
url('rubik-black-webfont.svg#rubikblack') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubikblack_italic';
src: url('rubik-blackitalic-webfont.eot');
src: url('rubik-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-blackitalic-webfont.woff2') format('woff2'),
url('rubik-blackitalic-webfont.woff') format('woff'),
url('rubik-blackitalic-webfont.ttf') format('truetype'),
url('rubik-blackitalic-webfont.svg#rubikblack_italic') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubikbold';
src: url('rubik-bold-webfont.eot');
src: url('rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-bold-webfont.woff2') format('woff2'),
url('rubik-bold-webfont.woff') format('woff'),
url('rubik-bold-webfont.ttf') format('truetype'),
url('rubik-bold-webfont.svg#rubikbold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubikbold_italic';
src: url('rubik-bolditalic-webfont.eot');
src: url('rubik-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-bolditalic-webfont.woff2') format('woff2'),
url('rubik-bolditalic-webfont.woff') format('woff'),
url('rubik-bolditalic-webfont.ttf') format('truetype'),
url('rubik-bolditalic-webfont.svg#rubikbold_italic') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubikitalic';
src: url('rubik-italic-webfont.eot');
src: url('rubik-italic-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-italic-webfont.woff2') format('woff2'),
url('rubik-italic-webfont.woff') format('woff'),
url('rubik-italic-webfont.ttf') format('truetype'),
url('rubik-italic-webfont.svg#rubikitalic') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubiklight';
src: url('rubik-light-webfont.eot');
src: url('rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-light-webfont.woff2') format('woff2'),
url('rubik-light-webfont.woff') format('woff'),
url('rubik-light-webfont.ttf') format('truetype'),
url('rubik-light-webfont.svg#rubiklight') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubiklight_italic';
src: url('rubik-lightitalic-webfont.eot');
src: url('rubik-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-lightitalic-webfont.woff2') format('woff2'),
url('rubik-lightitalic-webfont.woff') format('woff'),
url('rubik-lightitalic-webfont.ttf') format('truetype'),
url('rubik-lightitalic-webfont.svg#rubiklight_italic') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubikmedium';
src: url('rubik-medium-webfont.eot');
src: url('rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-medium-webfont.woff2') format('woff2'),
url('rubik-medium-webfont.woff') format('woff'),
url('rubik-medium-webfont.ttf') format('truetype'),
url('rubik-medium-webfont.svg#rubikmedium') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubikmedium_italic';
src: url('rubik-mediumitalic-webfont.eot');
src: url('rubik-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-mediumitalic-webfont.woff2') format('woff2'),
url('rubik-mediumitalic-webfont.woff') format('woff'),
url('rubik-mediumitalic-webfont.ttf') format('truetype'),
url('rubik-mediumitalic-webfont.svg#rubikmedium_italic') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'rubikregular';
src: url('rubik-regular-webfont.eot');
src: url('rubik-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('rubik-regular-webfont.woff2') format('woff2'),
url('rubik-regular-webfont.woff') format('woff'),
url('rubik-regular-webfont.ttf') format('truetype'),
url('rubik-regular-webfont.svg#rubikregular') format('svg');
font-weight: normal;
font-style: normal;
}


/* NEW HOME */
#new-home {	position: relative;	width: 100%; height: 100vh; overflow: hidden;
background: #f0edec;
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f0edec 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f0edec 100%);
background: radial-gradient(ellipse at center,  #ffffff 0%,#f0edec 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0edec',GradientType=1 );
}
#new-home svg { position: absolute; top: 50%; left: 50%; width: 115%; display: block;
-moz-transform: translateX(-54%) translateY(-37%);
-webkit-transform: translateX(-54%) translateY(-37%);
-o-transform: translateX(-54%) translateY(-37%);
-ms-transform: translateX(-54%) translateY(-37%);
transform: translateX(-54%) translateY(-37%);
}
#temp-grid {
position: relative; width: 100%; height: auto; overflow: hidden; border-top: 3px solid #fff;
}
#temp-grid img {
width: 100%; height: auto;
}

@media (min-width: 980px) and (max-width: 1300px) {

.original nav ul { left: 50%; }
}

@media (min-width: 768px) and (max-width: 979px) {
.original nav ul { left: 50%; }
.original .socialicons { display: none; }
}
@media (max-width: 767px) {
header { height: 60px; }
header #logo.span3, .homeheader #logo2.span3 { margin: 0 auto; }
header #logo img, .homeheader #logo2 img { margin: 0 auto; }
#new-home { height: 500px; transform: translate3d(0px, 0px, 0px) !important; }
#new-home svg { top: 100px; }
header nav ul { -moz-transform: translateX(-0%); -webkit-transform: translateX(-0%); -o-transform: translateX(-0%); -ms-transform: translateX(-0%); transform: translateX(-0); }
header nav li { height: 45px; }
header #logo.span3, .homeheader #logo2.span3 { width: 185px; padding-top: 6px; }
.footerinfo li { font-size: 8px; }
.gwst { display: none; }
.info_page .span12 { padding-left: 20px; }
.info_page .intro_text { width: 90%; }
.info_content { min-height: auto; }
}


@media (max-width: 480px) {


}